<div class="mat-elevation-z8">
  <table [dataSource]="data" mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container *ngFor="let col of tableCols">
      <ng-container matColumnDef="{{col}}">
        <th mat-header-cell *matHeaderCellDef>{{col || undefined}}</th>
        <td mat-cell *matCellDef="let row">{{row[col]}}</td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
    <tr mat-row *matRowDef="let row; columns: tableCols"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="data?.length"
                 aria-label="Select page">
  </mat-paginator>
</div>
