header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

div.navbar-brand > img {
  width: 200px;
  height: 203px;
  position: absolute;
}

div.is-info {
  z-index: 0;
  height: 70px;
}
