<div class="container">
  <div class="level">
    <div class="level-item">
      <div class="Box">
        <h2>Choose a Tenant</h2>
        <div class="field">
          <div class="control">
            <div class="select">
              <select [(ngModel)]="selectedGroup">
                <option [ngValue]="undefined">Choose Tenant</option>
                <option *ngFor="let item of tenants" [value]="item.TenantNr">{{item.FirstName}}</option>
              </select>
            </div>
            <div class="select">
              <select [(ngModel)]="selectedYear">
                <option [ngValue]="undefined">Choose Year</option>
                <option [value]="2018">2018</option>
                <option [value]="2019">2019</option>
                <option [value]="2020">2020</option>
                <option [value]="2021">2021</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="level">
      <div class="level-item">
        <button mat-dialog-close class="button is-light is-fullwidth">Schließen</button>
      </div>
      <div class="level-item">
        <button class="button is-success is-fullwidth" (click)="selectTenant()">Abschicken</button>
      </div>
    </div>
  </div>
</div>
