<div class="container">
  <div class="level">
    <div class="level-item">
      <div class="Box">
        <h2>Choose a Property</h2>
        <div class="field">
          <div class="control">
            <div class="select">
              <select [(ngModel)]="selectedGroup">
                <option [ngValue]="undefined">Choose Property</option>
                <option *ngFor="let item of properties" [value]="item.PropertyNr">{{item.Streetname}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="level">
      <div class="level-item">
        <button mat-dialog-close class="button is-light is-fullwidth">Schließen</button>
      </div>
      <div class="level-item">
        <button class="button is-success is-fullwidth" (click)="selectProperty()">Abschicken</button>
      </div>
    </div>
  </div>
</div>
