<div class="container">
  <div class="level">
    <div id ="yessir" class="level-item">
        <button id="create" class="button is-success is-rounded is-large" (click)="onCreate()">
          <mat-icon>add</mat-icon>
          Create New Entry
        </button>
    </div>
    <div class="level-item">
      <div class="box">
        <div class="block">
          <h1 class="title">Tabellenauswahl</h1>
        </div>
        <nav class="level">
          <div class="field">
            <button mat-button [matMenuTriggerFor]="menu" class="button is-light">{{tableType}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="choose('tenant')">Tenant</button>
              <button mat-menu-item (click)="choose('owner')">Owner</button>
              <button mat-menu-item (click)="choose('property')">Property</button>
              <button mat-menu-item (click)="openDialog('overview')">Tenant Overview</button>
              <button mat-menu-item (click)="choose('flat')">Flat</button>
              <button mat-menu-item (click)="openDialog('accounting')">accounting service</button>
            </mat-menu>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
