.box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.level-item{
    margin-right: 10px;
}

.mat-icon {
  font-size: xx-large;
  margin: 5px;
  width: 100%;
  height: auto;
}

#yessir{
  margin-top: 10px;
}