<div class="container">
  <app-header></app-header>
</div>
<div class="container">
  <div class="block">
    <app-auswahl (sendDataEvent)="getData($event)"></app-auswahl>
  </div>
</div>
<div class="container">
  <table id="contentToConvert" class="table is-fullwidth is-striped is-hoverable">
    <app-data-table [tableCols]="tableCols" [data]="data"></app-data-table>
  </table>
  <div class="level">
  <div class="level-item">
    <input type="file" accept=".csv" (change)="splitCsv($event)">
</div>
<div class="level-item">
  <button class ="button is-rounded is-primary is-fullwidth" (click)="generatePDF()">Generate PDF</button>
</div>
</div>
<div class="container">
  <app-footer></app-footer>
</div>
</div>
