<div class="level-item">
  <mat-dialog-content>
    <form [formGroup]="object">
      <div class="input-wrapper" *ngFor="let item of properties">
        <label [htmlFor]="data">{{item}}</label>
        <input type="text" [id]="data" formControlName="{{item}}">
      </div>
    </form>

    <select class="foreign-select" *ngIf="data == 'tenant'" [(ngModel)]="foreignKey">
      <option [ngValue]="undefined">Choose Flat</option>
      <option *ngFor="let flat of $flats" [ngValue]="flat.FlatNr">{{flat.FlatNr}}</option>
    </select>

    <select class="foreign-select" *ngIf="data == 'flat'" [(ngModel)]="foreignKey">
      <option [ngValue]="undefined">Choose Properties</option>
      <option *ngFor="let props of $properties" [ngValue]="props.PropertyNr">{{props.Streetname}}</option>
    </select>

    <select class="foreign-select" *ngIf="data == 'property'" [(ngModel)]="foreignKey">
      <option [ngValue]="undefined">Choose Owner</option>
      <option *ngFor="let owner of $owners" [ngValue]="owner.OwnerNr">{{owner.FirstName}}</option>
    </select>
  </mat-dialog-content>
</div>
<div class="level">
  <div class="level-item-left">
    <button mat-dialog-close class="button is-light">Schließen</button>
  </div>
  <div class="level-item-right">
    <button mat-dialog-close class="button is-success" (click)="submit()">Abschicken</button>
  </div>
</div>

